<!-- wp:template-part {"slug":"header","tagName":"header","className":"header"} /-->

<!-- wp:group {"tagName":"main","className":"main"} -->
<main class="wp-block-group main"><!-- wp:template-part {"slug":"section-hero","tagName":"section","className":"hero"} /-->

<!-- wp:template-part {"slug":"section-letters","tagName":"section","className":"letters"} /-->

<!-- wp:template-part {"slug":"section-identity","tagName":"section","className":"identity"} /-->

<!-- wp:template-part {"slug":"section-info","tagName":"section","className":"info"} /-->

<!-- wp:template-part {"slug":"section-products","tagName":"section","className":"products"} /-->

<!-- wp:template-part {"slug":"section-gallery","tagName":"section","className":"gallery"} /-->

<!-- wp:template-part {"slug":"section-contact","tagName":"section","className":"contact"} /--></main>
<!-- /wp:group -->

<!-- wp:html -->
<div class="cover"></div>
<!-- /wp:html -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"footer"} /-->