<!-- wp:template-part {"slug":"header","tagName":"header","className":"header"} /-->

<!-- wp:group {"tagName":"main","className":"main","layout":{"type":"constrained"}} -->
<main id="main" class="wp-block-group main">

<!-- wp:template-part {"slug":"page-header","tagName":"header","className":"main__header --md"} /-->

<!-- wp:group {"align":"wide","className":"main__body","layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group alignwide main__body"><!-- wp:group {"className":"main__container --md","layout":{"type":"constrained"}} -->
<div class="wp-block-group main__container --md"><!-- wp:group {"className":"postItem","layout":{"type":"default"}} -->
<div class="wp-block-group postItem"><!-- wp:group {"className":"postItem__info","layout":{"type":"flex","allowOrientation":false}} -->
<div class="wp-block-group postItem__info"><!-- wp:post-date {"format":"Y.m.d","className":"postItem__date"} /-->

<!-- wp:post-terms {"term":"category","separator":"","className":"postItem__terms"} /--></div>
<!-- /wp:group -->

<!-- wp:post-title {"className":"postItem__heading"} /-->

<!-- wp:post-content {"className":"postItem__content"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<div class="cover"></div>

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"footer"} /-->